


/* google fonts here */
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
p{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
  user-select: none;
}
h1,h2{
font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


::-webkit-scrollbar {
    display: none;
}

/* tailwind integration here */
@import "tailwindcss";